<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fluxei">
    <meta name="author" content="Dax Faulstich Diniz Reis">
    <meta name="keywords" content="Empresa Livre">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fluxei - Site do Projeto</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Fluxei</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                {{#if user}}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-text">
                                <strong>Olá </strong>
                                {{user.name}}
                            </p>
                        </li>
                        <li>
                            <a href="/auth/logout">Sair</a>
                        </li>
                    </ul>
                {{else}}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/auth/login">Entrar</a>
                        </li>
                        <li>
                            <a href="/auth/register">Registrar</a>
                        </li>
                    </ul>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="container body-content">
        {{#if error}}
            <ul class="alert alert-warning">
                {{#each error}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        {{/if}}
        {{#if success}}
            <ul class="alert alert-success">
                {{#each success}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        {{/if}}
        {{#if message}}
            <ul class="alert alert-info">
                {{#each message}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        {{/if}}
        {{{body}}}
        <hr/>
        <footer>
            <div class="area-social-media">
                <a href="https://www.facebook.com/aplataformaproject" class="facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.youtube.com/playlist?list=PLKhy4NF5V5p_4JJi77qJ-tA0ReTPrxNMX" class="youtube" target="_blank"><i class="fa fa-youtube-play"></i></a>
                <a href="https://medium.com/a-plataforma" class="medium" target="_blank"><i class="fa fa-medium"></i></a>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>